.idea/
__pycache__/
.cache
*.pyc
local_settings.py
denied_api_accounts.csv
test_campaigns.py
.DS_Store
.coverage
/dj_phantom/facebook_social/migrations/bu/
dj_phantom/facebook_social/tools/lib/
/dj_phantom/static/
*.pytest_cache/
celerybeat-schedule
celerybeat.pid
docker-compose.yml
docker/
dj_phantom/optimization_files/
venv/